In [1]:
import pandas as pd
from pathlib import Path
# import sqlite3

In [2]:
course_fp = Path("./../sample_seed/course.csv")
teaches_fp = Path("./../sample_seed/teaches.csv")
instructor_fp = Path("./../sample_seed/instructor.csv")
learning_outcomes_fp = Path("./../sample_seed/learning_outcome.csv")

In [3]:
course_df = pd.read_csv(course_fp)
teaches_df = pd.read_csv(teaches_fp)
instructor_df = pd.read_csv(instructor_fp)
learning_outcomes_df = pd.read_csv(learning_outcomes_fp)

In [4]:
course_df.head()

,mnemonic,name,description_short,active
0,ds_biz_anaytics,Business Analytics for Data Scientists,Focuses on the application of data science to ...,True
1,ds_tech_bootcamp,Technical Bootcamp,Bootcamp for new online MSDS students,True
2,ds5001,Exploratory Text Analytics,Introduction to text analytics with a focus on...,True
3,ds5012,Foundations of Computer Science,"A foundation in discrete mathematics, data str...",True
4,ds5100,Programming for Data Science,Programming essentials for data science: Pytho...,True

In [5]:
teaches_df.head()

           mnemonic  instructor_id        term
0  ds_tech_bootcamp              1  spring2021
1          stat6021              2  spring2021
2            ds5100              3  spring2021
3            cs5012             18  spring2021
4            ds6030             19  spring2021

In [6]:
instructor_df.head()

   id           name  active
0   1    Pete Alonzi    True
1   2    Jeffrey Woo    True
2   3       Judy Fox    True
3   4  Jeremy Bolton    True
4   5   Bill Basener    True

In [7]:
learning_outcomes_df.head()

,objective_id,mnemonic,objective_description,active
0,1,ds5001,Understand and use language models such as bag...,True
1,2,ds5001,Understand and use vector space models,True
2,3,ds5001,Understand how to measure similarity between d...,True
3,4,ds5001,Understand how Principal Component Analysis (P...,True
4,5,ds5001,Understand and use topic models such as Latent...,True

In [8]:
course_df.to_csv(course_fp, index=False)
teaches_df.to_csv(teaches_fp, index=False)
instructor_df.to_csv(instructor_fp, index=False)
learning_outcomes_df.to_csv(learning_outcomes_fp, index=False)

In [1]:
# database_name = './../data/db_design.db'

# with sqlite3.connect(database_name) as conn:
#     course_df.to_sql('courses', conn, index=False, if_exists='replace')

# with sqlite3.connect(database_name) as conn:
#     teaches_df.to_sql('teaches', conn, index=False, if_exists='replace')

# with sqlite3.connect(database_name) as conn:
#     instructor_df.to_sql('instructor', conn, index=False, if_exists='replace')

# with sqlite3.connect(database_name) as conn:
#     learning_outcomes_df.to_sql('learning_outcomes', conn, index=False, if_exists='replace')